body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000814;
    color: white;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main{
    padding: 1em 1.5em;
}


#articleOneID{
    background: #476094;
    padding: 1em;
}

#articleOneID h1{
    margin-top: 0;
}

/*INPUT: Entrada de Información*/
input{
    background-color: #9eadcb;
    color: #000814;
    border: 2px solid white;
    padding: .5em 1em;
    text-transform: capitalize;
}

input:focus{
    outline: none;
    border: 2px solid #000814;
}

input::placeholder{
    color: white;
}

input:disabled{
    cursor:not-allowed;
    opacity: .7;
}

/*BOTONES: Enviar y Borrar*/

button{
    background: white;
    color: #476094;
    border: none;
    padding: .5em 1em;
}

button:hover, button:focus{
    cursor: pointer;
    opacity: .7;
}

button:disabled{
    cursor:not-allowed;
    opacity: .7;
}

pre{
    color: red;
}

/*DATA IMPORTANTE: Nombre - N° de turno y Fecha*/

ul{
    list-style: none;
    padding: 0;
}

li{
    border: 1px solid #476094;
    text-align: center;
}